.container {
    margin-bottom: 7.5rem;
    margin-top: 2rem;
}

/* Style the Submit and Cancel buttons */
.card-footer {
    margin-top: 2rem;
    background-color: #6c757d;
}
.btn {
    border: 0;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: white;
    background-color: #343a40;
}
.btn:first-of-type {
    margin-right: 1rem;
}
.btn:hover {
    color: #343a40;
    background-color: #007bff;
}